@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot-HTF-B11-Bold.eot");
  src: url("../fonts/Didot-HTF-B11-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Didot-HTF-B11-Bold.woff2") format("woff2"),
    url("../fonts/Didot-HTF-B11-Bold.woff") format("woff"),
    url("../fonts/Didot-HTF-B11-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
