$color-text: #333539;
$color-text-lighter: #4d4d4d;
$color-text-disabled: rgba($color-text, 0.7);

$color-yellow: #f8b849;
$color-purple: #6672fb;
$color-purple-superlight: #eff3fb;
$color-dark: #121432;
$color-light: #f6f9fd;
$color-superlight: #fff;
$color-blue: #3b72e2;
$color-green: #1f998e;
$color-white: #fff;
$color-red: #e8523f;
$color-darklight: #383d4a;

$color-grey: #757994;
$color-grey-dark: #61657e;
$color-grey-light: #b5bdcf;
$color-grey-superlight: #f7f7f7;

$navbar-font-color-default: #c1bebe;
$navbar-font-color-secondary: #bababa;
