@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot-HTF-B11-Bold.eot");
  src: url("../fonts/Didot-HTF-B11-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Didot-HTF-B11-Bold.woff2") format("woff2"), url("../fonts/Didot-HTF-B11-Bold.woff") format("woff"), url("../fonts/Didot-HTF-B11-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #121432), color-stop(50%, #f6f9fd));
  background: linear-gradient(to right, #121432 50%, #f6f9fd 50%);
  font-family: "Muli", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  background-color: #121432;
}

.navbar .navbar-logo {
  display: block;
  margin-top: 42px;
}

.navbar .navbar-logo__text {
  margin-left: 22px;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 0px;
}

.navbar .navbar-menu {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.navbar .navbar-menu__link {
  display: block;
  color: #c1bebe;
  margin-bottom: 20px;
  padding: 14px;
  padding-left: 92px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.navbar .navbar-menu__link:last-child {
  margin-bottom: 0;
}

.navbar .navbar-menu__link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 0 6px 6px 0;
}

.navbar .navbar-menu__link .navbar-menu__icon {
  color: #c1bebe;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  position: absolute;
  left: 42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .navbar-menu__link:hover {
  color: #fff;
  font-weight: bold;
}

.navbar .navbar-menu__link:hover::before {
  background-color: #fff;
}

.navbar .navbar-menu__link:hover .navbar-menu__icon {
  color: #fff;
}

.navbar .navbar-statistic {
  margin-bottom: 26px;
}

.navbar .navbar-statistic__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
}

.navbar .navbar-statistic__header .navbar-statistic__title .navbar-statistic__icon {
  margin-right: 8px;
}

.navbar .navbar-statistic__header .navbar-statistic__percent {
  margin-left: auto;
}

.navbar .navbar-statistic__progress {
  margin-bottom: 6px;
}

.navbar .navbar-statistic__progress ::-webkit-progress-bar {
  display: inline-block;
  background-color: #6672fb;
  height: 6px;
  border-radius: 4px;
}

.navbar .navbar-statistic__progress ::-webkit-progress-value {
  background-color: #f8b849;
  border-radius: 4px;
}

.navbar .navbar-statistic__footer {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  color: #bababa;
}

.section {
  margin-top: 25px;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section-header__title {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.section-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header__actions .section-header__icon {
  margin-right: 20px;
  font-size: 20px;
  color: #b5bdcf;
  cursor: pointer;
}

.section-header__actions .section-header__icon:hover {
  color: #61657e;
}

.section-header__actions .section-header__button {
  padding: 7px 12px;
  background-color: #eff3fb;
  border-radius: 9px;
  border: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.section-header__actions .section-header__button span {
  margin-right: 6px;
}

.content {
  background-color: #fff;
  border-radius: 40px;
  padding: 30px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #333539;
  overflow-y: auto;
}

.content .search-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 440px;
  width: 60%;
  background-color: #eff3fb;
  border-radius: 15px;
  overflow: hidden;
}

.content .search-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(59, 114, 226, 0.16);
  color: #6672fb;
  border-radius: 15px;
  cursor: pointer;
}

.content .search-form .search-from__input {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0 15px 15px 0;
  padding: 10px 16px;
  font-family: "Muli", sans-serif;
}

.content .search-form .search-from__input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(117, 121, 148, 0.7);
  letter-spacing: 0.6px;
}

.content .search-form .search-from__input:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 121, 148, 0.7);
  letter-spacing: 0.6px;
}

.content .search-form .search-from__input::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 121, 148, 0.7);
  letter-spacing: 0.6px;
}

.content .search-form .search-from__input::placeholder {
  font-size: 14px;
  color: rgba(117, 121, 148, 0.7);
  letter-spacing: 0.6px;
}

.content .search-form .search-from__input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px rgba(59, 114, 226, 0.16);
          box-shadow: inset 0 0 0 1px rgba(59, 114, 226, 0.16);
}

.content .hero.section {
  margin-bottom: 44px;
}

.content .hero .hero__button {
  background-color: #6672fb;
  border: none;
  padding: 11px 14px;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.content .hero .hero__button span {
  margin-right: 6px;
}

.content .hero .hero__button:hover {
  background-color: #7a84fc;
}

.content .hero .section-content {
  background-color: #eff3fb;
  background-image: url("../images/hero_bg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .hero .section-content .hero-description {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 25px 35px;
}

.content .hero .section-content .hero-description__title {
  font-family: "Didot", serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
}

.content .hero .section-content .hero-description__text {
  margin: 15px 0 22px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

.content .hero .section-content .hero-image {
  -webkit-transform: translate(-72px, 33px);
          transform: translate(-72px, 33px);
}

.content .folders .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -14px;
}

.content .folders .cards .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  margin: 0 14px;
  background-color: #61657e;
  color: #fff;
  padding: 20px;
  border-radius: 26px;
}

.content .folders .cards .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .folders .cards .card-header__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  padding: 9px 7px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.16);
}

.content .folders .cards .card-header__icon .fa-folder {
  font-size: 22px;
}

.content .folders .cards .card-header__icon .fa-user-friends {
  font-size: 11px;
  color: #61657e;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content .folders .cards .card-header__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}

.content .folders .cards .card__title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4;
}

.content .folders .cards .card-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

.content .folders .cards .card-members__items {
  width: 26px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #61657e;
  overflow: hidden;
  position: relative;
}

.content .folders .cards .card-members__items:last-of-type {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  color: #333539;
  font-size: 9px;
  line-height: 26px;
  letter-spacing: 0px;
}

.content .folders .cards .card-members__items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.content .folders .cards .card-members__items:nth-child(2) {
  right: 5px;
}

.content .folders .cards .card-members__items:nth-child(3) {
  right: 10px;
}

.content .folders .cards .card-members__items:nth-child(4) {
  right: 15px;
}

.content .folders .cards .card__text {
  font-size: 12px;
  margin-top: 14px;
}

.content .folders .cards .card__text:last-child {
  margin-top: 9px;
}

.content .folders .cards .card--desing {
  background-color: #e8523f;
}

.content .folders .cards .card--desing .card-header__icon .fa-user-friends {
  color: #e8523f;
}

.content .folders .cards .card--desing .card-members__item {
  border-color: #e8523f;
}

.content .folders .cards .card--health {
  background-color: #6672fb;
}

.content .folders .cards .card--health .card-header__icon .fa-user-friends {
  color: #6672fb;
}

.content .folders .cards .card--health .card-members__item {
  border-color: #6672fb;
}

.content .folders .cards .card--food {
  background-color: #f8b849;
}

.content .folders .cards .card--food .card-header__icon .fa-user-friends {
  color: #f8b849;
}

.content .folders .cards .card--food .card-members__item {
  border-color: #f8b849;
}

.content .files-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 15px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.content .files-item:hover, .content .files-item:focus {
  background-color: #6672fb;
  color: #fff;
  -webkit-box-shadow: 0px 3px 14px rgba(102, 114, 251, 0.5);
          box-shadow: 0px 3px 14px rgba(102, 114, 251, 0.5);
}

.content .files-item__type {
  background-color: #61657e;
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 38px;
  letter-spacing: 0px;
}

.content .files-item__type--doc {
  background-color: #e8523f;
}

.content .files-item__type--pic {
  background-color: #f8b849;
}

.content .files-item__type--arc {
  background-color: #1f998e;
}

.content .files-item__name {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
}

.content .files-item__size {
  text-transform: uppercase;
}

.content .files-item__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.widgets {
  background-color: #f6f9fd;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 418px;
          flex: 0 0 418px;
  padding: 25px 30px;
}

.widgets-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widgets-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  font-size: 24px;
}

.widgets-header__questionmark span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}

.widgets-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widgets-header__user .widgets-header__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.widgets-header__user .widgets-header__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.widgets-header__user .widgets-header__button {
  background-color: transparent;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7;
}

.widgets-header__user .widgets-header__button > * {
  vertical-align: middle;
}

.widgets-header__user .widgets-header__button .fa-chevron-down {
  margin-left: 4px;
}

.widgets-calendar {
  background-color: #fff;
  padding: 18px 24px;
  border-radius: 16px;
}

.widgets-calendar .section-header__button {
  background-color: transparent;
}

.widgets-calendar__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eff3fb;
  border-radius: 9px;
  overflow: hidden;
}

.widgets-calendar__trigger {
  display: none;
}

.widgets-calendar__trigger:checked + .widgets-calendar__label {
  background-color: #6672fb;
  color: #fff;
}

.widgets-calendar__label {
  display: block;
  width: 100% / 3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  text-align: center;
  padding: 8px 0;
  border-radius: 9px;
  cursor: pointer;
}

.widgets-calendar__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.widgets-calendar__switcher .widgets-calendar__dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #b5bdcf;
  font-size: 10px;
  width: 28px;
  height: 28px;
  border-radius: 9px;
}

.widgets-calendar__switcher .widgets-calendar__title {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

.widgets-calendar__content {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(6, 30px);
  grid-gap: 5px;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.widgets-calendar__content .widgets-calendar__item {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
}

.widgets-calendar__content .widgets-calendar__item:hover, .widgets-calendar__content .widgets-calendar__item:focus {
  -webkit-box-shadow: 0 0 2px #b5bdcf;
          box-shadow: 0 0 2px #b5bdcf;
}

.widgets-calendar__content .widgets-calendar__item--past {
  color: rgba(51, 53, 57, 0.7);
  cursor: not-allowed;
}

.widgets-calendar__content .widgets-calendar__item--past:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.widgets-calendar__content .widgets-calendar__item--current {
  background-color: #6672fb;
  color: #fff;
}

.widgets-calendar__content .widgets-calendar__item--event::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background-color: #e8523f;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.widgets-task .task-item {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.widgets-task .task-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widgets-task .task-item__header .task-item__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.widgets-task .task-item__header .task-item__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.widgets-task .task-item__date {
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
}

.widgets-task .task-item__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.widgets-task .task-item__users .task-users__items {
  width: 22px;
  height: 22px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #61657e;
  overflow: hidden;
  position: relative;
}

.widgets-task .task-item__users .task-users__items:last-of-type {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #383d4a;
  text-align: center;
  color: #fff;
  font-size: 6px;
  line-height: 22px;
  letter-spacing: 0px;
}

.widgets-task .task-item__users .task-users__items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.widgets-task .task-item__users .task-users__items:nth-child(2) {
  right: 5px;
}

.widgets-task .task-item__users .task-users__items:nth-child(3) {
  right: 10px;
}

.widgets-task .task-item__users .task-users__items:nth-child(4) {
  right: 15px;
}

.widgets-task .task-item--review::before {
  content: '';
  display: block;
  width: 10px;
  background-color: #e8523f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */